:root {
    --primary: #FDA13A;
    --secondary: #1A1A1A;
    --info: #25648F;
    --white: #ffffff;
    --content-color: #3F4144;

    --font: "Rubik", sans-serif;
    --ease-out: all .15s ease-in-out;
}

/* Others */
main.wp-block-group{
    > div:not(.entry-content){
        display: none;
    }

    .entry-content{
        margin-top: 0;
    }
}

/* Header */
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;

    width: 100%;
    background-color: var(--secondary);

    /* Menus */
    li{
        a{
            font-size: 14px;
            font-weight: 500;
            font-family: var(--font);
            color: white;
            opacity: .5;

            text-decoration: none !important;
            transition: var(--ease-out);
        }

        &.current-menu-item{
            a{
                opacity: 1;
            }
        }

        a:hover{
            opacity: 1;
        }

        .wcd__nav__logo{
            a{
                opacity: 1;
                outline: none;
                border: none;
            }
        }
    }
}

/* Header Columns */
.wcd__header > .wp-block-group > *{
    flex: 1;

    &:nth-child(2){
        flex: 2;
    }

    &:nth-child(3){
        justify-content: flex-end;
    }
}

/* Logo */
.wcd__header .wp-block-group .wcd__logo{
    margin-bottom: -65px;

    img{
        max-width: 100px;
        width: 100%;
    }
}

/* Header Menus Color */
.wp-block-navigation .wp-block-navigation-item__content.wp-block-navigation-item__content{
    color: var(--white);
    outline: none;   
}

.wp-block-navigation:not(.has-text-color) .wp-block-navigation__responsive-container.is-menu-open{
    background-color: var(--secondary);
}

.wcd__nav{
    .wcd__nav__logo{
        display: none;
    }
}

@media screen and (max-width: 991.99px) {
    .wcd__header{
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .wcd__header > .wp-block-group > *{
        flex: initial;

        &:nth-child(2){
            flex: initial;
        }
    }
}

@media screen and (max-width: 575.99px) {
    .wcd__header .wp-block-group .wcd__logo{
        display: none;
    }

    .wcd__nav{
        .wp-block-navigation__responsive-container-open, .wp-block-navigation__responsive-container-close{
            outline: none;
            
            svg{
                rect, path{
                    fill: var(--white);
                } 
            }
        }
        .wcd__nav__logo{
            display: block;
        }
    }
}

/* Header Ends */



/* Main */
main.wp-block-group{
    margin-top: 0;
    padding-top: 78px;
}

/* Hero Section */
.wcd__hero{
    min-height: calc(100dvh - 78px);
    max-height: calc(100dvh - 78px);

}

.wcd__hero > .wp-block-columns{
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.wcd__hero_col{
    *{
        max-width: 100% !important;
    }
}

.wcd__hero_heading, .wcd__hero_sub_heading{
    /* line-height: 72px; */
    color: var(--info);
    font-family: var(--font);
}

.wcd__hero_heading{

}

.wcd__hero_highlighted_content{
    font-size: 14px;
    font-weight: 500;
}

.wcd__hero_sub_heading{
    font-size: 2rem;
    line-height: 2.25;
}

.wcd__hero_heading{
    font-size: 4rem;
    line-height: 1.125;
    font-weight: 800;
}


/* Hero Mobile */
@media screen and (max-width: 767px) {

    .wcd__hero_highlighted_content{
        line-height: 1.2;
    }

    .wcd__hero_sub_heading{
        font-size: 1.25rem;
        line-height: 1.6;
    }

    .wcd__hero_heading{
        font-size: 2rem;
        line-height: 1.25;
    }
}

/* Button */
.wcd__btn{
    a{
        /* /* padding:  8px 16px 8px 16px; */
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;

        font-family: var(--font);
        font-size: 14px;
        font-weight: 500;
        color: var(--content-color);
        line-height: 1.2;


        padding: 10px 1rem;
        background: var(--primary);
        border: 1px solid var(--secondary);

        border-radius: 5px;
        filter: drop-shadow(2px 2px 0 var(--white));
        outline: none; 
        transition: all .15s ease-in-out;
    }

    a:hover, a:active, a:focus{
        color: var(--content-color);
         
        background: var(--primary);
        border: 1px solid var(--secondary);

        opacity: .99;

        filter: drop-shadow(4px 4px 0 var(--white));
    }
}

.wcd__btn--dark{
    a{
        filter: drop-shadow(2px 2px 0 var(--secondary));
    }

    a:hover, a:active, a:focus{
        filter: drop-shadow(4px 4px 0 var(--secondary));
    }
}

@media screen and (max-width: 767px) {
    .wcd__btn{
        a{
            font-size: 12px;
        }
    }
}

/* Button Ends */

/* Button Road */
.wcd__bottom_road{
    position: fixed;
    z-index: 99;
    bottom: 0;
    left: 0;
    
    width: 100%;
    margin: 0 !important;

    > *{
        width: 100%;
    }

    > div{
        max-width: 100% !important;
    }

    img{
        width: 100%;
    }
}

.progress-container{
    margin-top: 0;
}

.progress-bar{
    position: relative;

    img{
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translateX(50%);

        width: 170px;
    }
}
